html{
scroll-behavior: smooth;
}

@font-face{
font-family: nine;
src: url("nine.otf");
}

@font-face{
font-family: head;
src: url("head.ttf");
}


@font-face{
font-family: timer;
src: url(CDT.otf);
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    -ms-webkit-border-radius: 5px;
    background-color:#fff;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 2px;
    background: #39ff14; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-moz-scrollbar {
    width: 5px;
}
::-moz-scrollbar-track {
    -webkit-border-radius: 6px;
    -moz-border-radius: 5px;
    -ms-webkit-border-radius: 5px;
    background-color:#fff;
    border-radius: 2px;
}
::-moz-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 2px;
    background: #39ff14; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


body{
margin: 0px;
padding: 0px;
}

.active{
color: white;
}

.navbar{
position: fixed;
z-index: 99999;
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
}

.kl{
margin-right: 20px;
background-color: transparent;
border: 1px solid transparent;
color: white;
border-radius: 50px;
}

.kl:hover{
border: 1px solid tomato;
border-radius: 50px;
background-color: tomato;
color: white;
}

.kll
{
border-radius: 50px;
padding: 10px;
}

.kll:hover
{
color: white;
background-color: tomato;
}

.menus{
padding: 10px;
border-radius: 20px;
position: relative;
left: -60px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
} 

.custom-toggler.navbar-toggler:focus{
outline: none;
}

.imj{
position: relative;
top:-2px;
left: 5px;
}

.kl1{
font-family: timer;
letter-spacing: 1px;
color: white;
font-size: 15px;
}

.kl{
transition: 0.5s background-color;
transition: 0.5s color;
}

.main{
background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("intro.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100vh;
}

.mainin{
position: relative;
top: 44%;
text-align: center;
color: white;
}

.mainin .p1{
position: relative;
top: -40px;
font-family: nine;
font-size: 30px;
font-weight: bold;
letter-spacing: 3px;
}

.mainin .p2{
font-family: timer;
font-size: 50px;
letter-spacing: 5px;
}

 @media only screen and (max-width:710px)
    {
        .mainin .p2{    font-size: 45px;    }
        .mainin .p1{    font-size: 30px;    }
    }

    @media only screen and (max-width:630px)
    {
        .mainin .p2{    font-size: 40px;    }
        .mainin .p1{    font-size: 27.5px;    }
    }

    @media only screen and (max-width:570px)
    {
        .mainin .p2{    font-size: 35px;    }
        .mainin .p1{    font-size: 25px;    }
    }

    @media only screen and (max-width:510px)
    {
        .mainin .p2{    font-size: 30px;    }
        .mainin .p1{    font-size: 22.5px;    }
    }

.main1{
background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("webdintro.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100vh;
}

.mainin1{
position: relative;
top: 40%;
text-align: center;
color: white;
}

.mainin1 .p1{
position: relative;
top: -30px;
font-family: nine;
font-size: 30px;
font-weight: bold;
letter-spacing: 3px;
}

.mainin1 .p2{
font-family: timer;
font-size: 40px;
letter-spacing: 5px;
}

    @media only screen and (max-width:600px)
    {
        .mainin1 .p2{    font-size: 35px;    }
    }
    @media only screen and (max-width:540px)
    {
        .mainin1 .p2{    font-size: 30px;    }
    }

.mainin .p5{
position: relative;
top: -30px;
font-family: nine;
font-size: 50px;
font-weight: bold;
letter-spacing: 3px;
}

.imgwarn{
 height: 100vh;
}

#warning-message
{ 
  display: none; 
}
    @media only screen and (orientation:portrait)
    {
        #mainsite { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape)
    {
        #warning-message { display:none; }
    }

.box1{
height: auto;
padding: 30px;
background: linear-gradient(to right, #dc2424, #4a569d);
}

.boxin{
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    padding: 30px;
    background-color: black;
    opacity: 0.85;
    color: white;
    letter-spacing: 3px;
    font-family: arial;
    font-size: 15px;
}

.boxin:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: black;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.box{
height: auto;
padding: 30px;
background: linear-gradient(to right, #085078, #85d8ce);
}

.boxin1{
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    padding: 40px;
    background-color: white;
    opacity: 0.85;
    color: black;
    letter-spacing: 3px;
    font-family: arial;
    font-size: 15px;
}

.boxin1:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: white;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
}


.boxin3{
position: relative;
border-radius: .4em;
padding: 30px;
background-color: white;
opacity: 0.85;
color: black;
letter-spacing: 3px;
font-family: nine;
font-size: 15px;
border-radius: 50px;
}

.boxin3:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: white;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}

.boxin4{
padding: 30px;
background-color: white;
opacity: 0.9;
color: black;
letter-spacing: 3px;
font-family: nine;
font-size: 15px;
}

.boxin6{
padding-top: 20px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
background-color: white;
opacity: 0.95;
color: black;
letter-spacing: 3px;
font-family: nine;
font-size: 15px;
border-radius: 50px;
}

.heading{
color: white;
margin-left: 20px; 
}


 @keyframes bounce 
 { 
    from { transform: translate3d(0, 0, 0); } 
    to { transform: translate3d(0, 20px, 0); } 
}

.bounce-4
{
    -webkit-animation-name: bounce; 
    -webkit-animation-duration: 0.4s; 
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    -webkit-animation-iteration-count: infinite; 
    margin-bottom: 30px;
    margin-top: 30px;
}

 @keyframes bounce1 
 { 
    from { transform: translate3d(0, 20px, 0); } 
    to { transform: translate3d(0, 0px, 0); } 
}

.bounce-4-1 
{
    -webkit-animation-name: bounce1; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-direction: alternate; 
    -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    -webkit-animation-iteration-count: infinite; 
}
    
footer{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 20px;
color: white;
font-family: nine;
letter-spacing: 2px;
opacity: 0.9;
}


@keyframes blink{
0%{opacity: 0;}
25% {opacity: 0.5;}
50%{opacity: 1;}
75%{opacity: 0.5;}
100%{opacity: 0;}
}

.btn2{
float: left;
border-radius: 50px;
background-color: transparent;
border: 2px solid white;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
color: white;
font-weight: bold;
transition: background-color 0.4s;
animation: blink 1s linear infinite;
position: relative;
top: 5px;
}

.btn2:hover{
background-color: white;
color: black;
animation: none;    
}

input{
border: none;
}

input:focus{
outline: none;
}

form{
font-size: 20px;
position: relative;
padding-top: 20px;
font-family: calibri;
font-weight: bold;
}


input[type=email]
{
    width: 300px;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: black;
    transition: width 0.4s ease-in-out;
    z-index: 1;
    position: relative;
}

input[type=email]:focus{
width: 500px;
}

input[type=submit]{
background-color: transparent;
border: 2px solid black;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
color: black;
font-weight: bold;
transition: background-color 0.4s;
}

input[type=submit]:hover{
background-color: black;
color: white;
}

label{
font-size: 1.5rem;
transition: opacity 250ms ease, top 250ms ease;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

input::placeholder{
transition: opacity 250ms ease;
opacity: 1;
}

input:focus::placeholder, input:valid::placeholder
{
opacity: 0;
}
input:focus + label, input:valid + label{
opacity: 1;
top: -2rem;
}

.fa {
  padding: 12px;
  padding-left: 15px;
  padding-right: 27px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: 0.5s background-color;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-facebook:hover {
  background: white;
  color: #3B5998;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-google:hover {
  background: white;
  color: #dd4b39;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-instagram:hover {
  background: white;
  color: #125688;
}

.hrs{
border-radius: 2px solid white;
border-radius: 5px;
}

.arrows{
background-color: black; 
padding: 10px; 
padding-top: 15px; 
border-radius: 500px;"
}

.arrows{
background-color: transparent;
opacity: 1; 
padding: 10px; 
padding-top: 15px; 
border-radius: 500px;
transition: 0.3s background-color;
}

.arrows span{
opacity:1;
}

.arrows:hover{
background-color: black;
}

.updated{
background-color: black;
}

.lefted{
font-family: timer;
padding: 5px;
color: white;
position: relative;
top: 15px;
letter-spacing: 2px;
background-color: black;
z-index: 999;
width: 180px;
}

.righted{
position: relative;
top: -15px;
color: white;
font-family: nine;
letter-spacing: 3px;
}

